<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login Form</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/main.min.css" rel="stylesheet"/>
  </head>
  <body class="login-body">
    <% if(typeof alert != 'undefined') { %> 
				<% alert.forEach(function(error) { %>
    			<div class="alert">
						<%= error.msg %>
					</div>
				<% }) 
			%>
		<% } %>
    <div id="main">
      <form name="login-form" action="/" method="post">
        <h1>Login</h1>
        <div class="email">
          <email class="label">Email:</email>
          <input type="text" name="email" required />
        </div>
        <div class="password">
          <password class="label">Password:</password>
          <input type="password" name="password" required />
        </div>
        <button class="login-btn" type="submit">login</button>
      </form>
    </div>
  </body>
</html>
