<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/main.min.css" rel="stylesheet"/>
    <script type="text/javascript" src="/js/main.min.js"></script>
  </head>
  <body class="album-body">
    <div class="header">
      <h1>My Albums and Photos</h1>
    </div>
    <div class="row">
      <div class="col-4 col-s-3 menu">
        <ul>
          <% albums.forEach(function(album) { %>
            <li>
              <button class="album-btn" onclick="getAlbum('<%= album.id %>')"><%= album.title %></button>
            </li>
          <% }) %>
        </ul>
      </div>
      <div id="photos" class="col-8 col-s-9">
       <div id="photo-row" class="row"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-s-12">
        <div id="big-photo"></div>
      </div>
    </div>
  </body>
</html>
