* {
  box-sizing: border-box;
}

.row {
  &:after {
    content: "";
    clear: both;
    display: table;
  }
}

#big-photo {
  border: 1px solid black;
  padding: 0;
  height: 100px;
  margin-top: 20px;
}

.pointer {
  cursor: pointer;
}

.responsive-image {
  width: 100%;
  height: auto;
}

[class*="col-"] {
  float: left;
  padding: 10px;
}

.header {
  color: black;
  padding: 15px;
}

.menu {
  ul {
    list-style-type: none;
    border: 1px solid black;
    margin: 0;
    padding: 0;
  }

  li {
    padding: 8px;
    margin-bottom: 7px;
    color: black;
    
    .album-btn {
      background: none!important;
      border: none;
      padding: 0!important;
      color: #069;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

#photos {
  margin: 0;
  padding: 10px;
  height: 412px;
}

#photo-row {
  border: 1px solid black;
  height: 411px;
}

#photo-box {
  margin: 39px 17px 28px 6px;
  width: 138px !important;
  height: 138px;
}

/* mobile */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  .album-body { margin:0px 200px;}
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
