$font-size:24px;
$mobil-button-width:100%;
$bg-button:#63cdda;

%label-shared {
  width: 100%;
  height: 40px;
  margin: 5px 5px 15px -4px;
  box-sizing: border-box;
  padding: 15px 15px;
  color:black;
  font-size: 17px;
}

%focus-shared {
  outline: none;
}

.login-body {
  padding: 0;
  margin: 0px;

  #main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
}

form {
  width: 40%;
}

.alert {
  background-color: #ff000099;
  text-align: center;
  font-weight: bold;
  margin: auto;
  width: 100%;
  padding: 20px;
}

.email input{
  @extend %label-shared

}
.password input {
  @extend %label-shared
}

input:focus {
  @extend %focus-shared
}

.login-btn:focus {
  @extend %focus-shared
}

.login-btn {
  background:$bg-button;
  color: #fff;
  border: 0px;
  width: 35%;
  padding: 10px;
  margin: 5px;
  font-size: $font-size;
  cursor: pointer;
  float: right;
}

.label {
  @extend %label-shared 
}

@media(max-width:610px) {
  form {
      width: 60%;
  }

  .login-btn {
      padding: 5px;
      width: $mobil-button-width;
  }
}

@media(max-width:420px) {
  form {
      width: 70%;
  }

  h3 {
      margin: 10px;
      width: $mobil-button-width;
  }
}
